spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      auto-commit: false
  output:
    ansi:
      enabled: always

  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true


  mvc:
    hiddenmethod:
      filter:
        enabled: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}


  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_ID}
    password: ${EMAIL_PW}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
          ssl:
            trust: smtp.gmail.com

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    com.backend: DEBUG


springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

custom:
  jwt:
    access-token:
      expire-time: "#{24 * 60 * 60 * 1000}"  # 24시간 (1일)
    refresh-token:
      expire-time: "#{72 * 60 * 60 * 1000}"       # 72시간 (3일)
    secretPattern: ${SECRET_PATTERN}


openai:
  url: ${OPENAI_API_URL}

toss:
  payments:
    base-url: "https://api.tosspayments.com"
    secret-key: ${PAYMENT_SECRET_KEY}

